@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcometo Azure app</h1>
    <p>This is the web application</p>
    <p>page loaded at: @DateTime.Now.ToString()</p>
</div>
